In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/trade_apt_api.csv")

In [7]:
df.describe()

,거래금액,건축년도,년,월,일,전용면적,지역코드,층
count,318.000000,318.000000,318.0,318.000000,318.000000,318.000000,318.0,318.000000
mean,97886.477987,2003.962264,2021.0,4.075472,15.817610,81.492287,11110.0,7.569182
std,58880.705817,9.532205,0.0,2.271889,8.518568,41.819365,0.0,4.834803
min,7500.000000,1971.000000,2021.0,1.000000,1.000000,12.010000,11110.0,-1.000000
25%,54000.000000,1999.000000,2021.0,2.000000,9.000000,59.085000,11110.0,4.000000
50%,87250.000000,2004.000000,2021.0,4.000000,16.000000,84.477050,11110.0,7.000000
75%,139800.000000,2009.000000,2021.0,6.000000,23.000000,92.575000,11110.0,11.000000
max,375000.000000,2020.000000,2021.0,8.000000,31.000000,238.858000,11110.0,25.000000